@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --btn-color: rgb(34, 143, 177);
    --font-gray: rgb(107, 107, 107);
    --back-contact: #252B42;
    --price-card:rgb(45, 214, 236);
    --price-color:rgb(19, 6, 141);
    --price-title:rgb(63, 162, 187);
}
.site-hero{
    background-image: url(https://images.unsplash.com/photo-1557426272-fc759fdf7a8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 35rem;
    position: relative;
    display: flex;
}
.site-hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.35);
}


/********   Pricing Section    *******/
.site-price{
    margin: 60px 150px;
}
.price-header{
    margin-bottom: 50px;
    text-align: center;
}
.price-header p{
    margin-top: 10px;
}
.pricing-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.price-table {
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
}
.price-table:hover {
    border: 2px solid var(--price-card);
    margin-top: -30px;
}
.price-title{
    padding: 30px 10px;
    border-radius: 5px 5px 0 0;
    background-color: var(--price-title);
}
.price-title span{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
}
.price-price{
    padding-top: 10px;
    padding-bottom: 25px;
}
.price-sub{
    margin-top: 10px;
    display: block;
}
.price-value{
    color: var(--price-color);
    font-weight: 900;
    font-size: 36px;
    display: block;
}
.price-content ul{
    list-style: none;
}
.price-content ul li{
    padding: 10px 0;
}
.price-content input{
    height: 20px;
    width: 20px;
}
.price-content label{
    padding-left: 10px;
}
.price-btn{
    padding: 30px 0;
}
.price-a{
    text-decoration: none;
    width: 50%;
    background: var(--btn-color);
    border: 1px solid transparent;
    padding: 8px 50px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
    transition: 0.3s ease;
}
.price-table:hover .price-a {
    background: #fff;
    color: var(--btn-color);
    border: 2px solid var(--btn-color);
}
  

/*********   Contact Section   **********/
.site-contact{
    background-color: var(--back-contact);
    display: flex;
    flex-direction: column;
}
.contact-header{
    display: flex;
    padding: 70px 240px 240px 200px;
}
.contact-header div{
    margin-right: 160px;
}
.contact-header img{
    height: 140px;
}
.contact-form{
   /*  margin: 0px 350px 0px 660px; */
    background-color: white;
    display: flex;
    position: absolute;
    left: 300px;
    margin-top: 260px;
}
.contact-form img{
  /*  position: absolute;
   left: 260px;
   clip: rect(0, 400px, 500px, 80px); */
   width: 500px;
   height: 350px;   
}
.form{
    padding: 20px 40px 50px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form h3{
    margin-top: 18px;
    margin-bottom: 25px;
    text-align: center;
}
.form-btn{
    padding: 5px 75px;
    margin-left: 130px;
    border-radius: 5px;
    background-color: var(--btn-color);
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.form-input{
    padding: 0px 60px 10px 90px;
}
.form label{
    font-size: 14px;
}
.form-input input{
    border-radius: 5px;
    width: 260px;
    height: 24px;
    border: 1px solid gray;
}
.separador{
    height: 230px;
}


/*******  Footer Section  ********/
.site-footer{
    margin: 20px 250px 25px 200px;  
}
.site-footer i{
    color: var(--btn-color);
    margin: 0 8px;
    font-size: 18px;
}
.footer-1{
    display: flex;
    justify-content: space-between;
}
.footer-1 p{
    margin: 10px 0;
    font-size: 14px;
    color: var(--font-gray);
}
.footer-1 a{
    text-decoration: none;
    background-color: var(--btn-color);
    padding: 12px 25px;
    height: 20px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}
.footer-2{
    margin: 40px 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.footer-2 h5{
    margin-bottom: 15px;
}
.footer-2 p{
    margin: 5px 0;
    font-size: 12px;
    color: var(--font-gray);
}
.footer-3{
    display: flex;
    justify-content: space-between;
}
.footer-3 p{
    color: var(--font-gray);
    font-size: 14px;
}